@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Job Postings";
    Layout = "_Layout";
}

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<main role="main" class="container mt-4">
    <h2>Добродошли на систем Конкурси!</h2>
    <p>Можете одабрати конкурс за пријаву.</p>
</main>