@use "../../../styles/_variables.scss" as *;

.header {
  padding: 1rem;
  background-color: $header_background;
  color: $color-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
